# Data Science Tools and Ecosystem.

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
*Java
*Python
*SQL

Some of the popular languages that Data Scientists use are:
1. Java
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-learn
3. SciPy

| Data Science Tools |
|--------------------|
|      R Studio      |
|     Apache Spark   |
|   Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python
Example 1.
X = 3
Z = 10
O = X * Z
print(O)  
Example 2. 
A = 10
B = 2
C = A/B
print(C)
Example 3.
D = 12
E = 3
F = D + E
print(F)

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sebastian G